@model IEnumerable<APS.Models.Pedido>

@{
    ViewBag.Title = "Detalhes";
}

<div class="x_panel">
    <div class="x_title">
        <h2>Detalhes do pedido</h2>
    </div>

    <div>
    <div class="table-responsive">
        <table class="table table-hover table-striped" id="myTable">
            <tr>
                <th class="text-center">
                    Produto
                </th>
                <th class="text-center">
                    Quantidade
                </th>
                <th class="text-center">
                    Valor R$
                </th>
            </tr>

            @foreach (var item in Model)
            {                
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.descricaoProduto)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.quantidadeProduto)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.valorProduto)
                    </td>
                </tr>

            }            

            @*<td>

               Html.ActionLink("Baixar", "Home", new { vendaId = Model.First<APS.Models.Pedido>().vendaId })

            </td>*@

        </table>

        <div class="btn btn-default">@Html.ActionLink("Baixar", "Baixar")</div>                                                              

        </div>

        </div>



    </div>
