
@{
    ViewBag.Title = "CadastroCategoria";
}

<div class="x_panel">
    <div class="x_title">
        <h2>Casdastrar Categoria</h2>
        
        <div class="clearfix"></div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="x_content">
            
            <div class="form-group">
                <div class="form-group">                    
                    <div class="col-md-3">
                        @Html.TextBox("categoria", "", new { @class = "form-control", data_toggle = "tooltip", data_placement = "right", placeholder="Categoria" })  
                    </div>
                </div>
            </div>
           
            <div class="form-group">
                <div class="col-md-2 col-md-10">
                    @*<button href="@Html.ActionLink("CadastroProduto", "Produto")" id="btnPesquisar" type="submit"  class="btn btn-primary">Cadastrar</button>*@                                                                                                 

                    <input id="btCadastrar" type="submit" name="btnCadastrar" value="Cadastrar" class="btn btn-default"/>
                </div>
            </div>
        </div>
    }

    </div>
